<div class="left-container">
	<div class="photo-container">
		<%= image_tag("jared-hammock.jpg", :alt => "photo") %>
	<% provide(:title, @user.name) %>
	<h1><%= @user.name %></h1>
	<h3><%= @user.email %></h3>
</div>
<div class="right-container">
</div>