<h1 class="centered">Welcome to Dwellhop!</h1>
<p class="centered">
  Dwellhop creates beautiful, visual websites for your properties, with the click of a button.
</p>
<div class="cenetered">
<%= link_to "Sign up now!", signup_path, class: "button small success radius centered"%>
</div>

