<h1>Welcome to Dwellhop!</h1>
<p>
  Dwellhop creates beautiful, visual websites for your properties, with the click of a button.
</p>
<%= link_to "Sign up now!", signup_path, class: "button small success radius" %>


