@import "foundation";


p,h1,h2,h3,h4,h5,h6,img,div,a {
	text-align: center;
}
#centered {
	text-align:center;
}
.page-container {
  padding-top:30px;
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}





@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.left-container {
	width:25%;

}

/* forms */
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.alert {
	background-color: #a61a00;
	color:#fff;
	height:40px;
	padding:10px;
	font-size:20px;
}