@import "foundation";
@import url('//fonts.googleapis.com/css?family=Raleway:400,100|Merriweather:400,300|Lusitana|Open+Sans:400,300');
body {
   /*background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0, #0078A0),
      color-stop(1, #54B2FF)
    );
    background-image: -o-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -moz-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -webkit-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -ms-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: linear-gradient(to left bottom, #0078A0 0%, #54B2FF 100%);
        color:#fff;
    */
  background-color:#2a95d0;

    } 


p,h1,h2,h3,h4,h5,h6,img,div,a,label {
	margin:0;
  padding:0;
  color:#fff;
}
a:hover {
  color:#ddd;
}
ul {
  list-style-type: none;
}
.centered {
	text-align:center;
}



/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
}



/* GENERAL STYLES */


.left-container {
  position: fixed;
  top:45px;
  width:25%;
  display: inline-block;
  overflow:scroll;
  background-color:#2a95d0;
  color:#fff;
  height:2000px;
}
.right-container {
  position: relative;
  width:75%;
  display: inline-block;
  vertical-align: top;
  background:#fff;
  float:right;
}
.left-container h1, .edit-left-container h1 {
  padding:20px 5% 3px;
  font-size: 1.8em;
  font-family: 'Merriweather';
  text-align: center;
  font-weight: 100;
  color: #fff;
}
.left-container h3, .edit-left-container h3 {
  padding:0;
  font-size: 1em;
  font-family: 'Merriweather';
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.home-div h2, .home-div p, .home-div a {
  color:#222;
}
.right-container h3 {
  font-size:2em;
  font-family: 'Merriweather';
  text-align: left;
  font-weight: 400;
  margin-top:30px;
  margin-bottom:20px;
  padding-left: 30px;
  color: #222;
}
.top-header {
  font-family: 'Merriweather';
  font-size: 2.3em;
  padding-top:50px;
  margin-bottom:30px;
}
.nav {
  position: fixed;
  z-index:5;
}
.my-button {
  width:200px;
  background:none;
  border:1px solid #fff;
  margin-top:20px;
}
.my-button:hover {
  background-color: #fff;
  color:#0078a0;
}
.button-margin {
  margin:50px auto 150px;
}
.sticky .top-bar {
  max-width: 90%;
}









/* SHOW HOME */

.home-header {
  background-image: image-url('578.png');
  background-size: 100%;
  background-position: fixed;
  background-color:#222;
  height:800px;
}

.hero-photo {
  width:100%;
  opacity:0.3;
  box-shadow:0px 0px 5px inset #fff;
}
.show-home-div {
  width:100%;
  padding-top:50px;
  background-color:#165495;
}
.hero-address {
  position: relative;
  text-align: center;
  color:#fff;
  font-family: 'Merriweather';
  font-weight:100;
  font-size: 5em;
  padding-top:300px;
}
.hero-description {
  position: relative;
  font-size: 1.4em;
  font-family: 'Merriweather';
  width:70%;
  left:15%;
  text-align: center;
}
.overview-left {
  position: relative;
  width:40%;
  left:6%;
  margin-top:50px;
  display: inline-block;
}
.overview-image {
  width:90%;
  position: relative;
  left:5%;
  border-radius:6px;
}
.overview-right {
  position: relative;
  width:50%;
  left:9%;
  display: inline-block;
  vertical-align: top;
  margin-top:50px;
}
.description-text {
  font-size: 1.3em;
  font-family: 'Merriweather';
  line-height: 2em;
}
.description-subheader {
  font-size: 2.3em;
  font-family: 'Merriweather';
  margin-bottom:10px;
}
.show-home-div-title {
  font-size: 3em;
  font-family: 'Merriweather';
  margin-bottom:20px;
  color:#fff;
}
.title-hr {
  margin-bottom:40px;
  width:30%;
  position: relative;
  left:35%;
}
.div-hr {
  position: relative;
  width:50%;
  left:25%;
  margin-bottom:30px;
}
.youtube {
  position: relative;
  left:15%;
  width:70%;
  height:700px;
  border:none;
}
.photos-container {
  left:3%;
  position: relative;
  width:94%;
  height:800px;
  border-radius:6px;
  overflow:hidden;
  
}
.photos-list-div {
  width:18%;
  height:800px;
  background-color: #222;
  display: inline-block;
  padding:0px;
  border:none;
  overflow:scroll;
}
.photos-list {
  width:100%;
  heigh:auto;
}
.photos-right-div {
  width:82%;
  height:800px;
  display: inline-block;
  vertical-align: top;
  margin-left:-4px;
}
.photos-primary-container {
  height:680px;
  overflow:hidden;
}
.photos-primary-caption {
  height:120px;
  width:auto;
  background:#222;
  padding:18px 0px 10px 20px;
  font-family: 'Merriweather';
}
.photos-primary-caption h2 {
  font-family: 'Merriweather';
}
.photos-primary {
  width:100%;
  overflow: hidden;
}
.neighborhood-left {
  position: relative;
  width:26%;
  left:14%;
  display: inline-block;
  vertical-align:middle;
  top:60px;
}
.show-home-div h3 {
  font-family: 'Merriweather';
  font-size: 2em;
  color:#eee;
}
.neighborhood-left li {
  font-size: 1.1em;
  font-family: 'Merriweather';
  margin-top:10px;
  color:#eee;
}
.home-map {
  position: relative;
  left:10%;
  width:50%;
  height:500px;
  display: inline-block;
  vertical-align: top;
}
#schedule {
  padding-bottom: 200px;
}
.schedule-left {
  width:30%;
  left:20%;
  position: relative;
}
#schedule p {
  font-size: 1.1em;
  font-family: 'Merriweather';
  padding-top:8px;
  padding-left:4px;

}
.schedule-image {
  width:80%;
  border:6px solid #999;
}




/* EDIT HOME */
.edit-left-container {
  position: relative;
  width:25%;
  display: inline-block;
  overflow:scroll;
  background-color:#2a95d0;
  color:#fff;
  margin-right:-4px;
  padding:20px;

}
.edit-right-container {
  position: relative;
  width:75%;
  display: inline-block;
  vertical-align: top;
  background:#fff;
}

.edit-listing label, .edit-listing form {
  padding-left:20px;
  padding-right:20px;
}
.description-form {
  height:60px;
}




/* SHOW USER */




.homes {
  color:#222;
}
.homes .home-div {
  margin-right: 20px;
  padding:10px 0px;
  border-top: 1px solid #e8e8e8;
  color:#222;
  font-family: 'Lusitana';
  font-size: 1.1em;
}
.timestamp {
  color:#aaa;
}
.page-container {
  position: relative;
  top:45px;
}
textarea {
  height: 200px;
}
.home-address {
  font-family: 'Merriweather';
  color:#222;
  font-size:2em;
  float:left;
}
.home-description {
  color:#222;
}
.user-photo {
  width:80%;
  position: relative;
  left:10%;
  margin-top:20px;
  border:4px solid #ccc;
}
.home-image-div {
  width:30%;
  padding:20px 0px 0px;
  display: inline-block;
}
.home-info-div {
  width:69%;
  display: inline-block;
  margin:0;
  padding:0;
  vertical-align: top;
}
.home-image {
  width:90%;
  position: relative;
  left:5%;
}
.home-buttons a {
  float:right;
  color:#fff;
  margin-right:10px;
  margin-top: 4px;
}
.home-specs {
  display: block;
}
.home-add {
  display: block;
  width:100%;
  height:50px;
}





/* HOME PAGE CUSTOMIZATIONS */

.home-page-container {
  width: 100%;
  height:900px;
  background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0, #0078A0),
      color-stop(1, #54B2FF)
    );
    background-image: -o-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -moz-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -webkit-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: -ms-linear-gradient(left bottom, #0078A0 0%, #54B2FF 100%);
    background-image: linear-gradient(to left bottom, #0078A0 0%, #54B2FF 100%);
        color:#fff;
  color:#fff;
}
.home-page-container h1 {
  color:#fff;
  font-size: 4em;
  position: relative;
  padding-top:30px;
  padding-bottom: 0px;
  font-family:'Merriweather';
}
.home-page-container h3 {
  color:#fff;
  font-size: 1.5em;
  font-family:'Merriweather';
}
.home-page-div {
  height:800px;
  background: #fff;
  overflow: hidden;
}
.home-page-div h2 {
  color:#222;
  margin:60px auto 10px;
  font-family: 'Merriweather';
}
.home-page-div p {
  color:#222;
  font-size: 1.2em;
  font-family: 'Merriweather';
  padding-bottom:30px;
}
#div1 {
  background-color:#eee;
  color:#222;
}
#div2 {
  background-color: #00b060;
  background-size:100%;
}
#div3 {
}
.home-page-logo {
  width:20%;
  left:40%;
  position: relative;
  margin-top:100px;
}
.screenshot {
  position: relative;
  width:74%;
  left:13%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  opacity:0.9;
}






@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  padding:20px;
  text-align: center;
  @include box_sizing;
}


/* forms */
#error_explanation {
  color: #f00;
  text-align: center;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.alert-div {
  width:100%;
  position:relative;
	background-color: #62e200;
	color:#fff;
	height:40px;
	padding:10px;
	font-size:20px;
  text-align: center;

}